In [63]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table('/Users/jaredlorince/Desktop/test',header=None,names=['uid','author_id','author_name','affiliation','idx'])

In [3]:
df.head()

,uid,author_id,author_name,affiliation,idx
0,WOS:000348973100119,474548|27350531|83137700|8902366|69508845|1052...,"Jones, Simon A.|Plantaz, Dominique|Vara, Roshn...","Univ Manchester, CMFT, Manchester Ctr Genom Me...",0|1|2|3|4|4|4|0|5|3|3|4
1,WOS:000363358000046,1315402|68649595,"Boyd, Jessica|Sadrzadeh, S. M. Hossein","Calgary Lab Serv, Calgary, AB, Canada",0|0
2,WOS:000348973100271,82140530|60474300|1000421882,"Vairo, Filippo|Paskulin, Livia|Doederlein Schw...","Clin Hosp Porto Alegre, Porto Alegre, RS, Brazil",0|0|0
3,WOS:000357032000017,31061770|89269220|87387925|20013792|29425236|3...,"Guitang, Y.|Zulu, L. YaWang|Yanchun, L.|Yi, S....","Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",0|0|0|0|0|0|0
4,WOS:000350936900001,28496951,"Rayburn, William F.","1 Univ New Mexico, Continuing Med Educ & Profe...",-1

In [84]:
def process(row):
    aids = [int(a) for a in row.author_id.split('|')]
    n = len(aids)
    names = row.author_name.split('|')
    affil = []
    if pd.isnull(row.affiliation):
        affil = [np.nan]*n
    else:
        affil_list = row.affiliation.split('|')
        for idx in row.idx.split('|'):
            if idx=='-1':
                affil.append('?')
                # OR:
                # affil.append(row.affiliation)
            else:
                affil.append('|'.join([affil_list[int(i)] for i in idx.split(',')]))
    return pd.DataFrame({'uid':[row.uid]*n,'author_id':aids,'author_name':names,'affiliation':affil,'seq':range(len(aids))})

result = pd.concat([process(row[1]) for row in df.iterrows()])

In [85]:
result = pd.concat([process(row[1]) for row in df.head().iterrows()])

In [86]:
result

,affiliation,author_id,author_name,seq,uid
0,"Univ Manchester, CMFT, Manchester Ctr Genom Me...",474548,"Jones, Simon A.",0,WOS:000348973100119
1,"CHU Grenoble, Hop Couple Enfant, F-38043 Greno...",27350531,"Plantaz, Dominique",1,WOS:000348973100119
2,"Evelina Childrens Hosp, London, England",83137700,"Vara, Roshni",2,WOS:000348973100119
3,"Synageva BioPharma Corp, Lexington, MA USA",8902366,"Eckert, Stephen",3,WOS:000348973100119
4,"Hop Necker Enfants Malad, Paris, France",69508845,"Sang, Kim-Hanh Le Quan",4,WOS:000348973100119
5,"Hop Necker Enfants Malad, Paris, France",10528855,"Brassier, Anais",5,WOS:000348973100119
6,"Hop Necker Enfants Malad, Paris, France",3708680,"Arnoux, Jean-Baptiste",6,WOS:000348973100119
7,"Univ Manchester, CMFT, Manchester Ctr Genom Me...",3790541,"Breen, Catherine",7,WOS:000348973100119
8,"Univ Calif Irvine, Irvine, CA USA",27371645,"Gargus, J. Jay",8,WOS:000348973100119
9,"Synageva BioPharma Corp, Lexington, MA USA",28048691,"Quinn, Anthony G.",9,WOS:000348973100119
10,"Synageva BioPharma Corp, Lexington, MA USA",67218670,"Rojas-Caro, Sandra",10,WOS:000348973100119
11,"Hop Necker Enfants Malad, Paris, France",35196296,"Valayannopoulos, Vassili",11,WOS:000348973100119
0,"Calgary Lab Serv, Calgary, AB, Canada",1315402,"Boyd, Jessica",0,WOS:000363358000046
1,"Calgary Lab Serv, Calgary, AB, Canada",68649595,"Sadrzadeh, S. M. Hossein",1,WOS:000363358000046
0,"Clin Hosp Porto Alegre, Porto Alegre, RS, Brazil",82140530,"Vairo, Filippo",0,WOS:000348973100271
1,"Clin Hosp Porto Alegre, Porto Alegre, RS, Brazil",60474300,"Paskulin, Livia",1,WOS:000348973100271
2,"Clin Hosp Porto Alegre, Porto Alegre, RS, Brazil",1000421882,"Doederlein Schwartz, Ida Vanessa",2,WOS:000348973100271
0,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",31061770,"Guitang, Y.",0,WOS:000357032000017
1,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",89269220,"Zulu, L. YaWang",1,WOS:000357032000017
2,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",87387925,"Yanchun, L.",2,WOS:000357032000017
3,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",20013792,"Yi, S.",3,WOS:000357032000017
4,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",29425236,"Rong, L.",4,WOS:000357032000017
5,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",31219095,"Guoqing, X.",5,WOS:000357032000017
6,"Shenyang Gen Hosp, Inst Cardiovasc Res Peoples...",87311090,"Yaling, H.",6,WOS:000357032000017
0,?,28496951,"Rayburn, William F.",0,WOS:000350936900001